html, body {
  font-family: monospace;
  margin: 20px;
  background: rgb(34,34,34);
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 90vh;
  align-items: center;
  background-color: rgb(34,34,34);
}

.joinInnerContainer {
  width: 20%;
  font-weight: bolder;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: xx-large;
  font-size: 2.5em;
  letter-spacing: .5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    background: rgb(0, 70, 192);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    margin-top: 20px;
}

.button:hover {
  background: white;
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
  .joinInnerContainer {
    width: 90%;
  }
  img {
    height: 60%;
    width: 60%;
  }
}

button:focus {
  outline: 0;
}