body {
  font-family: monospace;
  font-size: x-large;
  margin: 20px;
  background: rgb(34, 34, 34);
}

ol, ul {
  padding-left: 30px;
}

* {
  box-sizing: border-box;
  justify-self: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.popup {
  background: rgba(0,0,0, 0.5); 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 100%;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
  text-align: center;
  font-size: x-large;
  line-height: 10vh;
}

.bigsquare {
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 12vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  display: flex;
  flex-direction: column;
}

.minisquare
{
  background: rgb(209,209,209);
  height: 50%;
  width: 100;
  margin-top: 10;
  line-height: 0;
  margin-bottom: 0;
  border: 0;
}

.minisquare:focus {
  outline: none;
}

.minisquare:hover {
  background: rgb(255, 255, 255);
}

.square {
  background: rgb(209, 209, 209);
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 12vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.square:focus {
  outline: none;
}

.square:hover {
  background: rgb(255, 255, 255);
}
.noclicksquare {
  background: rgb(34,34,34);
  border: 2px solid rgb(34,34,34);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 12vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.redsquare {
  background: #000;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 12vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.redsquare:hover {
  background: rgb(206, 110, 0);
}

.bomb {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (orientation:portrait) {
  .game {
    flex-direction: column;
  }
  .bigsquare {
    width: 15vw;
  }
  .square {
    width: 15vw;
  }
}

.infoBar {
  display: table;
  background: rgb(82, 82, 82);
  border: 2px solid #000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  height: 60px;
  width: 70vw;
}

.leftInnerContainer {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.rightInnerContainer {
  display: table-cell;
  width: 50%;
  border-left: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.topInnerContainer {
  display: table-cell;
  border-left: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.board {
  display: grid;
}

.board-row {
  display: flex;
}