body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  align-self: flex-start;
}

.bigsquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 18vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  display: flex;
  flex-direction: column;
}

.minisquare
{
  background: #fff;
  height: 50%;
  width: 100;
  margin-top: 10;
  line-height: 0;
  margin-bottom: 0;
  border: 0;
}

.minisquare:focus {
  outline: none;
}

.minisquare:hover {
  background: #ddd;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 18vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-right: 2vw;
}

.game-board {
  display: flex;
  flex-direction: row;
  align-self: center ;
  margin-bottom: 3vh;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

.bomb {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (orientation:portrait) {
  .game {
    flex-direction: column;
  }
  .game-board {
    flex-direction: column;
  }
  .bigsquare {
    width: 15vw;
  }
  .square {
    width: 15vw;
  }
}