body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.bigsquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 15vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  display: flex;
  flex-direction: column;
}

.minisquare
{
  background: #fff;
  height: 50%;
  width: 100;
  margin-top: 10;
  line-height: 0;
  margin-bottom: 0;
  border: 0;
}

.minisquare:focus {
  outline: none;
}

.minisquare:hover {
  background: #ddd;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 15vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.redsquare {
  background: #000;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 15vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.redsquare:hover {
  background: rgb(206, 110, 0);
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.game-info {
  margin-right: 2vw;
}

.game-board {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

.bomb {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (orientation:portrait) {
  .game {
    flex-direction: column;
  }
  .game-board {
    flex-direction: column;
  }
  .bigsquare {
    width: 15vw;
  }
  .square {
    width: 15vw;
  }
}

.infoBar {
  display: table;
  background: #fff;
  border: 2px solid #000;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.rightInnerContainer {
  display: table-cell;
  width: 50%;
  border-left: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.sidepanel {
  justify-self: start;
  background: #fff;
  color: #000;
  margin-right: 1vw;
  margin-left: 1vw;
  height: 75vh;
  width: 15vw;
}

.paneltop, .panelbottom {
  height: 50%;
  width: 100%;
  margin-top: 1vh;
}

.board {
  justify-self: center;
  flex-wrap: nowrap;
}